<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <script defer src="/wishlistScript.js"></script>
</head>
<body>
    <div class="container limited-width">

    <h1>Wishlist</h1>

    <form id="addToWishlistForm">
        <input type="text" id="productId" placeholder="Product ID" required>
        <button type="submit">Add to Wishlist</button>
        
    </form>
    <div id="message" style="display: none;"></div>

    <div id="wishlistItems"></div>
</div>
</body>
</html>
